﻿@using AutoService.DAL.Model
@model IList<Client>

@{
    ViewData["Title"] = "Get";
}

<div class="text-center">
    <h1 class="display-4">Clients</h1>
    @foreach (var client in Model)
    {
        <div> @client.FirstName  @client.LastName </div>
        foreach (var car in client.Cars)
        {
            <div style="color: blueviolet">@car.Model @car.Manufacture</div>
        }
        

    }
</div>
